<html>
  <head>
    <title>HaptiJordon - Learn</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <style>
      h5 {
        text-align: center;
      }

      .colour-card {
        margin-bottom: 5px;
        margin-top: 10px;
        height: 75px;
        width: 75px;
      }
    </style>

    <script type="text/javascript">
      var hexValues = {
        black: "#000000",
        blue: "#0096ff",
        green: "#00a82d",
        teal: "#009193",
        purple: "#942192",
        grey: "#a9a9a9",
        brown: "#aa7942",
        red: "#e10600",
        magenta: "#941751",
        pink: "#f395c7",
        tan: "#efd19f",
        orange: "#ff6900",
        yellow: "#fce300",
        yellowgreen: "#aacd00",
        beige: "#f5f5cc",
        white: "#ffffff"
      };

      var colourIndexes = [
        "black",
        "blue",
        "green",
        "teal",
        "purple",
        "grey",
        "brown",
        "red",
        "magenta",
        "pink",
        "tan",
        "orange",
        "yellow",
        "yellowgreen",
        "beige",
        "white"
      ];

      var selectedColour = null;

      $(document).ready(function() {
        selectedColour = selectRandomColour();

        $(".colour-card").click(function(e) {
          e = e || window.event;
          var target = e.target || e.srcElement;
          var rgb = target.style.backgroundColor;
          parsedRgb = parseRgbMethod(rgb);
          hex = rgbToHex(parsedRgb);
          console.log(hex);
          console.log(selectedColour);
          if (hex == selectedColour) {
            alert(
              'You got it! When you\'re ready, click "Next Pattern" to try another.'
            );
          } else {
            alert(
              'That\'s not the right colour, try again or click "Next Pattern" to try another pattern.'
            );
          }
        });

        $("#PlayPattern").click(function(e) {
          console.log("Selected: " + selectedColour);
          $("#rgb").val(selectedColour);
          $("#colourForm").submit();
        });

        $("#NextPattern").click(function(e) {
          selectedColour = selectRandomColour();
          $("#PlayPattern").click();
        });
      });

      function selectRandomColour() {
        // Generate a random value between 0 and 15
        var index = Math.floor(Math.random() * 15 + 1);
        var selectedColour = colourIndexes[index];
        return hexValues[selectedColour];
      }
      // Parse the CSS rgb method that is returned by target.style.backgroundColor
      // in order to obtain an array of [r, g, b]
      // this is then converted into hex format by rgbToHex
      function parseRgbMethod(rgb) {
        return rgb.replace(/[^\d,]/g, "").split(",");
      }

      // https://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb
      function componentToHex(c) {
        var hex = Number(c).toString(16);
        return hex.length == 1 ? "0" + hex : hex;
      }

      function rgbToHex(rgb) {
        return (
          "#" +
          componentToHex(rgb[0]) +
          componentToHex(rgb[1]) +
          componentToHex(rgb[2])
        );
      }
      //
    </script>
  </head>
  <body>
    <div style="margin:20px 100px;">
      <div
        class="jumbotron"
        style="padding:40px;display: flex; justify-content: center;flex-direction: column;"
      >
        <div
          style="display: flex; flex-direction: row; justify-content: space-evenly; align-content: center;"
        >
          <div style="display:flex; justify-content: center;">
            <div
              class="col-sm-6 col-md-4"
              style="justify-self: center; align-self: center; width: 100%"
            >
              <div class="thumbnail">
                <div class="caption">
                  <h3>Test Yourself</h3>
                  <p style="font-size: 14px;">
                    Click the button below to play a pattern on the wearable
                    device, <br />then test your familiarity by choosing a
                    colour on the right to find out if you're right.
                  </p>
                  <a id="PlayPattern" class="btn btn-primary" role="button"
                    >Play Pattern</a
                  >

                  <a id="NextPattern" class="btn btn-primary" role="button"
                    >Next Pattern</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div style="display:flex;justify-content: center;width:75%;">
            <form
              method="post"
              action="/rgb"
              style="display:flex;justify-content: center;flex-direction: column;align-items: center"
              id="colourForm"
            >
              <br />
              <!-- Row One: Teal Blue Green Yellowgreen -->
              <div class="row">
                <!-- Teal -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #009193;"
                  >
                  </a>
                  <h5>Teal</h5>
                </div>
                <!-- Blue -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #0096FF;"
                  >
                  </a>
                  <h5>Blue</h5>
                </div>
                <!-- Green -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #00A82D;"
                  >
                  </a>
                  <h5>Green</h5>
                </div>
                <!-- YellowGreen -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #AACD00;"
                  >
                  </a>
                  <h5>Yellowgreen</h5>
                </div>
              </div>
              <!-- Row Two: Red - Purple - Magenta - Pink -->
              <div class="row">
                <!-- Red -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #E10600;"
                  >
                  </a>
                  <h5>Red</h5>
                </div>
                <!-- Purple -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #942192;"
                  >
                  </a>
                  <h5>Purple</h5>
                </div>
                <!-- Magenta -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #941751;"
                  >
                  </a>
                  <h5>Magenta</h5>
                </div>
                <!-- Pink -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #F395C7;"
                  >
                  </a>
                  <h5>Pink</h5>
                </div>
              </div>
              <!-- Row Three: Brown Orange Yellow Tan -->
              <div class="row">
                <!-- Brown -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #AA7942;"
                  >
                  </a>
                  <h5>Brown</h5>
                </div>
                <!-- Orange -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #FF6900;"
                  >
                  </a>
                  <h5>Orange</h5>
                </div>
                <!-- Yellow -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #FCE300;"
                  >
                  </a>
                  <h5>Yellow</h5>
                </div>
                <!-- Tan -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #EFD19F;"
                  >
                  </a>
                  <h5>Tan</h5>
                </div>
              </div>
              <!-- Row Four: Black Grey Beige White -->
              <div class="row">
                <!-- Black -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #000000;"
                  >
                  </a>
                  <h5>Black</h5>
                </div>
                <!-- Grey -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #A9A9A9;"
                  >
                  </a>
                  <h5>Grey</h5>
                </div>
                <!-- Beige -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #F5F5CC;"
                  >
                  </a>
                  <h5>Beige</h5>
                </div>
                <!-- White -->
                <div class="col-xs-6 col-md-3">
                  <a
                    class="thumbnail colour-card"
                    style="background-color: #FFFFFF;"
                  >
                  </a>
                  <h5>White</h5>
                </div>
              </div>
              <input type="color" name="rgb" id="rgb" style="display:none;" />
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
